@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 30 30 30;
    --color-content: 224 224 224;
    /* ... */
  }
}
@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1.2px currentColor;
    text-stroke: 1.2px currentColor;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14;
}

/* tag  */
.icon {
  @apply inline-flex w-6 h-6;
}

.icon.solid {
  @apply fill-indigo-300;
}

.icon.stroke {
  /* @apply stroke-red-500; */
  @apply text-gray-50;
}

.cta {
  /* this is tag cta */
  @apply p-1.5 px-2 bg-gray-700 text-gray-80 border border-gray-500 font-semibold rounded-lg;
  @apply transition-all hover:-translate-y-0.5 focus:bg-slate-100 active:translate-y-0.5 active:shadow-inner;
}

.cta.w-icon {
  @apply flex items-center gap-2 pr-3;
}

.img-cont img {
  @apply h-full w-full object-cover;
}

.article-tags {
  @apply flex gap-2 py-2;
}

.article-tags .tag {
  @apply bg-gray-700 text-gray-80 text-sm p-2 py-1 rounded-md;
  @apply transition-all !py-0.5 hover:-translate-y-0.5;
}

/* BLOG PAGES */
.page-heading {
  @apply p-12 bg-gray-700;
}

.page-heading > .wrapper {
  @apply max-w-3xl m-auto;
}

.page-section {
  @apply p-4 py-8 m-auto max-w-3xl;
}

/* individual article item page */

.article-list {
  @apply flex flex-col gap-6;
}

.article-item {
  @apply pt-6 first-of-type:border-none border-t border-gray-600;
}

.article-item a {
  @apply no-underline;
}

.article-item > * > .wrapper {
  @apply flex items-start gap-4 lg:flex-row flex-col md:flex-row;
}
